* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: tomato;
    padding: 30px 30px 30px 30px;
}

p {
    font-size: 20px;
}
